@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
  --foreground-sidebar: #cfcfcf;
  --background-sidebar: var(--foreground);
  --base-font-size-px: 15px;
  --content-width: 38rem;
  --max-header-image-height: 80vh;
  --sidebar-tab-width: 3rem;
  --sidebar-width: calc( 100vw - var(--sidebar-tab-width) - 1rem );
  --sidebar-edge: calc( var( --spacing ) * 1 );
}
@media (min-width: 1024px){
  :root {
    --base-font-size-px: 17px;
     --sidebar-tab-width: 4rem;
    --sidebar-edge: (var( --spacing ) * 4 );
    --sidebar-width: calc( 100vw - var(--sidebar-tab-width) - 1rem );
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: var(--font-cousine-mono);
}

@layer base{
  html{
    font-size: var(--base-font-size-px);
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    margin-top: calc( var(--spacing) * 6); 
  }
    h1 + h1,
    h1 + h2,
    h1 + h3,
    h1 + h4,
    h1 + h5,
    h1 + h6,
    h2 + h1,
    h2 + h2,
    h2 + h3,
    h2 + h4,
    h2 + h5,
    h2 + h6,
    h3 + h1,
    h3 + h2,
    h3 + h3,
    h3 + h4,
    h3 + h5,
    h3 + h6,
    h4 + h1,
    h4 + h2,
    h4 + h3,
    h4 + h4,
    h4 + h5,
    h4 + h6,
    h5 + h1,
    h5 + h2,
    h5 + h3,
    h5 + h4,
    h5 + h5,
    h5 + h6,
    h6 + h1,
    h6 + h2,
    h6 + h3,
    h6 + h4,
    h6 + h5,
    h6 + h6 {
      margin-top: 0;
    }

  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.6rem;
  }
  h3{
    font-size: 1.3rem;
  }
   h4{
    font-size: 1rem;
  }

  p, pre, blockquote{
    margin-bottom: calc( 2 * var(--spacing));
  }

  pre{
    white-space: pre-wrap;
    padding-left: calc(2 * var(--spacing));
    border-left: 1px solid black;
  }
    h1+pre,
    h2+pre,
    h3+pre,
    h4+pre,
    h5+pre,
    h6+pre{
      margin-top: calc( var(--spacing) * 2 );
    }

  code{
    font-family: cousine, monospace;
    font-size: 0.92em;   
  }

  blockquote{
    padding-left: calc(2 * var(--spacing));
    border-left: 1px solid black;
  }

  blockquote > *:first-child:before{
    content: '"';
    display: inline;
  }
  blockquote > *:last-child:after{
    content: '"';
  }

  ol{
    list-style: decimal;
    padding-left: 1rem;
  }
  ol li{
    
  }

  a{
    text-decoration: underline;
    text-decoration-color: var(--foreground);

  }
  a:hover{
    color: var(--background);
    overflow: hidden;
    background-color: blue;
  }  
}

.tmw-root{
  width: 100%;
  height: 100%;
  overflow: auto;
}
  .tmw-root__static{
    overflow: hidden;
  }
.tmw-header{ 
  width: 100vw;  
  /* max-height: 86vh; */
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}

  .tmw-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .tmw-header-image-wrap{
      position: relative;
      width: 100%;
      height: 56vw;
      max-height: var(--max-header-image-height);
    }
    .tmw-title{
      position: relative;    
      max-width: var( --content-width );
      margin:  calc(var(--spacing) * 5) auto calc(var(--spacing) * 4);   
      padding: 0 calc(6 * var(--spacing));
    }   
      @media (min-width: 38rem){
        .tmw-title{
          text-align: center;
        }
      }
      .tmw-title h1,
      .tmw-title h2{
        margin-top: 0;
        display: inline-block;            
      }
        .tmw-title h1::after{
          content: ', ';
        }

  @media (min-width: 1024px) and (max-width: 1400px){
    .tmw-header{ 
      max-width: 100%;
    }
  }
  @media (min-width: 1024px){
    .tmw-header{ 
      margin-bottom: calc( var(--spacing) * 4 );
    }
    .tmw-title{
      margin-top: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 2rem;
      z-index: 1;
      background-color: var(--background);
      padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1);
      text-align: center;
    }
      .tmw-title h1,
      .tmw-title h2{
        background-color: var(--background);
                
      } 

  }

.tmw-body{
  background-color: var(--background);
  position: relative;   
}
.tmw-main{  
  max-width: var( --content-width );
  padding: 0 calc( 18 * var(--spacing) ) 0 calc( 6 * var(--spacing) );
  box-sizing: border-box;
  margin: 0 auto;
} 
  .tmw-section{    
    margin-bottom: calc( 12 * var(--spacing) );
  }

      .tmw-section h2:first-child,
      .tmw-section h3:first-child,
      .tmw-section h4:first-child{
        padding-top: calc( 2 * var(--spacing));
        border-top: 1px solid #000;
        margin-top:0;        
      }
        .tmw-sidebar .tmw-section h2:first-child,
        .tmw-sidebar .tmw-section h3:first-child,
        .tmw-sidebar .tmw-section h4:first-child{
          padding-top: 0;
          border-top: none;
        }
    
  #content-credits{
    margin-top: calc( var(--spacing) * 36) ;
    color: #888;
    font-size: 0.8em;
    margin-bottom: calc( var(--spacing) * 4);
  }
    #content-credits h1,
    #content-credits h4,
    #content-credits h3,
    #content-credits h2{
      border-color: #888;
    } 

  .tmw-sidebar{
    position: fixed;        
    z-index: 5;
    width: min( var(--sidebar-width), var(--content-width));
    pointer-events: none;
    right: calc( -1 * min( var(--sidebar-width), var(--content-width)) + var(--sidebar-edge) );
    top: 0;    
    background-color: var(--background-sidebar);
    padding: calc( var(--spacing) * 6 );
    padding-right: calc( var(--spacing) * 18 );    
    /* transform: translateX(100%); */
    transition: opacity .1s .3s linear, right .4s linear, z-index 0s .4s;   
    height: 100%;
    overflow: auto;
    background-color: var(--background-sidebar);
    color: var(--foreground-sidebar); 
  }
  .tmw-sidebar blockquote{
    border-color: var(--foreground-sidebar);
  }
    
    .tmw-sidebar__visible{
      pointer-events: all;      
      right: 0;
      transition: opacity .1s linear, right .4s linear, z-index 0s 0s;
      z-index: 70;
    }
    .tmw-sidebar-link{
      color: var(--background-sidebar);   
      cursor: w-resize;
      font-weight: bold;
      text-decoration: underline;
    }
      
      .tmw-sidebar-link__active{
        cursor: e-resize;
      }
      .tmw-sidebar .tmw-sidebar-link{
        cursor: n-resize;
      }
      .tmw-sidebar-link .tmw-sidebar-link--annotation{
        font-size: 75%;
        /* vertical-align: super; */
        display: inline-block;   
        position: relative;     
        transform: translateX(0.06em) translateY(0.07em);

      }
        .tmw-sidebar-link .tmw-sidebar-link--annotation::after{
          content: '';
          width: 0;
          position: absolute;
          left: 1rem;
          height: 1px;
          background-color: var(--background-sidebar);
          margin-top: 0.7em;
          z-index: -1;
          transition: width .5s ease-in-out;
          display: none;
        }
          .tmw-sidebar-link:hover .tmw-sidebar-link--annotation::after{
            width: 100vw;  
            background-color: var(--background-sidebar);
          }
            .tmw-sidebar-link:hover .tmw-sidebar-link--tab{
              background-color: var(--background-sidebar);
              color: var(--foreground-sidebar);
               width: calc( var(--sidebar-tab-width) * 1.33 );
            }  
              .tmw-sidebar-link__active:hover .tmw-sidebar-link--tab{
                 width: var(--sidebar-tab-width);
              }    

      .tmw-sidebar-link--tab{
        font-weight: normal;
        font-size: 0.88rem;
        position: absolute;
        right: 0;
        width: var(--sidebar-tab-width);
        background-color: var(--background-sidebar);
        color: var(--foreground-sidebar);
        height: 2rem;
        margin-top: -0.35rem;
        line-height: 2rem;
        padding-left: 0.6rem;
        transition: right .4s linear, width .1s ease-out; 
        z-index: 10;
      }        

        .tmw-sidebar-link__active .tmw-sidebar-link--tab{          
          right: min( var(--sidebar-width), var(--content-width));
        }
       
    .tmw-sidebar-content{
      position: fixed;      
      right: 2rem;
      width: 50%;
      height: 50%;
      
      background-color: var(--background);
    }

    .tmw-sidebar h1:first-child,
    .tmw-sidebar h2:first-child,
    .tmw-sidebar h3:first-child,
    .tmw-sidebar h4:first-child,
    .tmw-sidebar h5:first-child,
    .tmw-sidebar h6:first-child{
      margin-top: 0;
    }
      
    .tmw-media{
      position: relative;      
    }
      .tmw-media__video{
        padding-top: 56.25%;
      }
      .tmw-media__video > div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
      .tmw-media__audio{
        line-height: 2rem;
        height: 2rem;
        white-space: nowrap;
        margin-bottom: calc( var(--spacing) * 2 );
      }        
        .tmw-media__audio button{
          height: 100%;          
        }
        .tmw-media__audio button img,
        .tmw-media__audio button span{
          display: inline-block;
          margin-right: .5rem;
        }
          .tmw-media__audio button img{
            transform: translateY(-0.12em);
          }
    
    .tmw-cols > *{
      width: 50%;
      flex-shrink: 0;      
    }
         
    .tmw-fig{
      margin-bottom: calc( var(--spacing) * 1 );
      cursor: zoom-in;
    }
      h1+.tmw-fig,
      h2+.tmw-fig,
      h3+.tmw-fig,
      h4+.tmw-fig,
      h5+.tmw-fig,
      h6+.tmw-fig,
      h1+.tmw-cols,
      h2+.tmw-cols,
      h3+.tmw-cols,
      h4+.tmw-cols,
      h5+.tmw-cols,
      h6+.tmw-cols{
        margin-top: calc( var(--spacing) * 1 );
      }
      .tmw-fig-zoom{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        box-sizing: border-box;
        padding: calc( var(--spacing) * 6 );
        background-color: var(--background);
        cursor: zoom-out;
      }
        .tmw-fig-zoom img{
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }


        @media (max-width: 500px){
        .tmw-cols__breakable{
          display: block;
        }
        
      }   