@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
  --background-sidebar: #cfcfcf;
  --base-font-size: 14.4;
  --base-font-size-px: var(--base-font-size)px;
  --content-width: 38rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base{
  html{
    font-size: var(--base-font-size-px);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    margin-top: calc( var(--spacing) * 6); 
  }
    h1 + h1,
    h1 + h2,
    h1 + h3,
    h1 + h4,
    h1 + h5,
    h1 + h6,
    h2 + h1,
    h2 + h2,
    h2 + h3,
    h2 + h4,
    h2 + h5,
    h2 + h6,
    h3 + h1,
    h3 + h2,
    h3 + h3,
    h3 + h4,
    h3 + h5,
    h3 + h6,
    h4 + h1,
    h4 + h2,
    h4 + h3,
    h4 + h4,
    h4 + h5,
    h4 + h6,
    h5 + h1,
    h5 + h2,
    h5 + h3,
    h5 + h4,
    h5 + h5,
    h5 + h6,
    h6 + h1,
    h6 + h2,
    h6 + h3,
    h6 + h4,
    h6 + h5,
    h6 + h6 {
      margin-top: 0;
    }

  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.3rem;
  }
  h3{
    font-size: 1.1rem;
  }

  p, pre, blockquote{
    margin-bottom: calc( 2 * var(--spacing));
  }

  pre{
    white-space: pre-wrap;
  }

  blockquote:before{
    content: '"';
    display: inline;
  }
  blockquote:after{
    content: '"';
  }

  ol{
    list-style: decimal;
    padding-left: 1rem;
  }
  ol li{
    
  }

  a{
    /* text-decoration: underline;
    text-decoration-color: blue; */
    color: blue;
  }
  a:hover{
    color: var(--background);
    overflow: hidden;
    background-color: blue;
  }  
}


.tmw-header{ 
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
  .tmw-title{
    margin-top: 0;
  }
.tmw-body{
  background-color: var(--background);
  position: relative;
  top: 90vh;
  top: calc( 100vh - 3.5rem);
  padding-top: calc( 3 * var(--spacing) );
  padding-bottom: 33vh;
  position: relative;
}
.tmw-main{  
  max-width: var( --content-width );
  padding: 0 calc( 6 * var(--spacing) );
  box-sizing: border-box;
  /* margin: 0 auto; */
} 
  .tmw-section{
    margin-bottom: calc( 6 * var(--spacing) );
  }

  .tmw-sidebar{
    position: fixed;        
    z-index: 5;
    width: 90%;
    max-width: var(--content-width);
    pointer-events: none;
    right: calc( var(--content-width) * -1);
    top: 0;
    opacity: 0;
    background-color: var(--background-sidebar);
    padding: calc( var(--spacing) * 6 );
    /* transform: translateX(100%); */
    transition: opacity .1s .3s linear, right .4s linear;   
    height: 100%;
    overflow: auto;
  }
    .tmw-sidebar-close{
      position: absolute;
      right: calc( var(--spacing) * 3 );
      top: calc( var(--spacing) * 3 );
      font-size: 2rem;
      line-height: 0.9;
      cursor: pointer;
    }
    .tmw-sidebar__visible{
      pointer-events: all;
      opacity: 1;
      /* transform: translateX(0); */
      right: 0;
       transition: opacity .1s linear, right .4s linear;
    }
    .tmw-sidebar-link{
      color: blue;
      position: relative;
      cursor: w-resize;
    }
      .tmw-sidebar-link__active{
        cursor: e-resize;
      }
      .tmw-sidebar .tmw-sidebar-link{
        cursor: n-resize;
      }
    .tmw-sidebar-content{
      position: fixed;      
      right: 2rem;
      width: 50%;
      height: 50%;
      
      background-color: var(--background);
    }

    .tmw-sidebar h1:first-child,
    .tmw-sidebar h2:first-child,
    .tmw-sidebar h3:first-child,
    .tmw-sidebar h4:first-child,
    .tmw-sidebar h5:first-child,
    .tmw-sidebar h6:first-child{
      margin-top: 0;
    }
      
    .tmw-media{
      position: relative;
      padding-top: 56.25%;
    }
      .tmw-media > div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    
    .tmw-fig{
      margin-bottom: calc( var(--spacing) * 1 );
    }
      h1+.tmw-fig,
      h2+.tmw-fig,
      h3+.tmw-fig,
      h4+.tmw-fig,
      h5+.tmw-fig,
      h6+.tmw-fig,
      h1+.tmw-cols,
      h2+.tmw-cols,
      h3+.tmw-cols,
      h4+.tmw-cols,
      h5+.tmw-cols,
      h6+.tmw-cols{
        margin-top: calc( var(--spacing) * 1 );
      }
      .tmw-fig-zoom{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        box-sizing: border-box;
        padding: calc( var(--spacing) * 6 );
        background-color: var(--background);
      }
        .tmw-fig-zoom img{
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }